<div class="ContainerNavbar">
    <div class="logocontainer">
      <img src='/assets/sithembisologo.png' (click)="Home()"  alt="steadfast" id="logoIMG">
    </div>
  
    <!-- Mobile Hamburger -->
    <div class="barcontainer">
      <div class="bars">
        <i class="fa fa-bars" style="font-size:28px" (click)="openLSide()"></i>
        <div class="Sidebar">
          <div class="navbar-slide" [style.width]="sidebarWidth + '%'">
            <i class="fa fa-remove" style="font-size:24px" (click)="closeLSide()"></i>
            <img src='/assets/sithembisologo.png'  (click)="Home()"  alt="steadfast" id="logoIMG">
            <a routerLink="" (click)="Home()" (click)="closeLSide()">Home</a>
            <a routerLink='' (click)="Aboutme()" (click)="closeLSide()">About Me</a>
            <a routerLink="" (click)="Projects()" (click)="closeLSide()">Projects</a>
            <a routerLink="" (click)="contact()" (click)="closeLSide()">Contact Me</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Desktop Navigation -->
    <div class="DesktopNav">
      <div class="Desktop">
        <a routerLink=""(click)="Home()"> Home</a>
        <a routerLink='' (click)="Aboutme()">About Me</a>
        <a routerLink="" (click)="Projects()">Projects</a>
        <a routerLink="" (click)="contact()">Contact Me</a>
      </div>
    </div>
  </div>
  