<div class="ContainerForAll">
  <div class="SectionforProjectsLanding" [@scrollAnimation]>
    <div class="Section text-center">
      <h1 class="title fade-in"> Welcome To My Lab</h1>
      <p class="subtitle fade-in">
        A collection of apps and websites I’ve built on my self-taught developer journey.
      </p>
      <a href="https://github.com/Trophydecoder" target="_blank" class="github-btn fade-in">
        <i class="fa fa-github"></i> Visit My GitHub
      </a>
    </div>
  </div>
</div>
