<div class="ContainerforSection">
    <div class="SectionForMyjourney" [@scrollAnimation]>
      <div class="Myjourney">
    
        <div class="boxes1 box">
            <i class="fa fa-database border-gradient"></i>
            <h2>Backend-End</h2>
            <h3>Developer</h3>
            <p>Full-stack Developer</p>
        </div>
        <div class="boxes2 box">
            <i class="fa fa-laptop-code border-gradient" id="laptop"></i>
            <h2>Front-End</h2>
            <h3>Developer</h3>
            <p>Full-stack Developer</p>
        </div>
        <div class="boxes3 box">  
            <i class="fa fa-layer-group border-gradient" id="group"></i>
            <h2>Full-Stack</h2>
            <h3>Developer</h3>
            <p>Full-stack Developer</p>
        </div>
        <div class="boxes4 box">  
            <i class="fa fa-book border-gradient" id="oci"></i>
            <h2>OCI</h2>
            <h3>Developer</h3>
            <p>In progress</p>
        </div>
      </div>
    </div>
  </div>
