<div class="ContainerForAll">
  <div class="SectionforAboutme" [@scrollAnimation]>
    <div class="SectionforImage">
      
      <div class="image fade-in">
        <img src="/assets/AboutmePhoto.png" alt="Aboutme" id="Aboutme" />
      </div>

      <div class="MyStory fade-in">
        <h1>About Me</h1>
        <p>
          I’m a passionate Full-Stack Developer who enjoys transforming ideas
          into real-world solutions. With a strong foundation in frontend and
          backend development, I specialize in building responsive,
          user-friendly web applications that are both visually appealing and
          functionally robust. On the frontend, I work with modern frameworks
          and tools like HTML, CSS, JavaScript, and Angular to create seamless
          user experiences. On the backend, I leverage Node.js, Express, and
          MySQL to design secure APIs, manage databases, and build scalable
          systems.
        </p>

          <div class="lang-grid">
            <span class="lang">HTML</span>
            <span class="lang">CSS</span>
            <span class="lang">JavaScript</span>
            <span class="lang">Angular</span>
            <span class="lang">Node.js</span>
            <span class="lang">Express</span>
            <span class="lang">MySQL</span>
            <span class="lang">Github</span>
          </div>
        </div>

      </div>

    </div>
  </div>