.ContainerForAll{
    width: 100%;
    background-color: black;
    font-family: var(--MainFont);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SectionforAll{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sectionforText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--TextMain);
    margin-bottom: 1rem;
    position: relative;
}
.text h1::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: var(--MainColor);
    margin-top: 0.5rem;
    border-radius: 5px;
}
.Containerboxes{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}
.box{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    color: var(--TextMain);
    padding: 2rem 1rem;
}
.box img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1rem;
}
.box p{
    color: var(--TextP);
    line-height: 1.6;
}

.github-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    padding: 10px 16px;
    background: #0d1117; /* GitHub dark */
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .github-btn i {
    font-size: 16px;
  }
  
  .github-btn:hover {
    background: #24292f; 
    transform: translateX(4px);
  }
  
@media screen and (min-width:1024px){

    .Containerboxes{
       
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        gap: 2rem;
    }
    .box{
        width: 28%;
    }
}
