<div class="ContainerForAll">
    <div class="SectionforContact">
      <div class="Section">
        <div class="SectionforImageContact">
  
          <!-- Left Side Text -->
          <div class="MyContactStory">
            <h1 class="fade-in">Contact Me</h1>
            <p class="fade-in">
              I’d love to hear from you! Whether it’s about 
              <span class="highlight">collaborations</span>, 
              <span class="highlight">project ideas</span>, 
              or just a quick hello — feel free to reach out.
            </p>
            <p class="fade-in">
              You can connect with me directly through LinkedIn, or simply 
              drop me a message using the form.
            </p>
  
            <!-- Contact Info -->
            <div class="contact-info fade-in">
  
              <p><i class="fa fa-linkedin"></i><a href="https://za.linkedin.com/in/sithembiso-mdawe-2521452a9"></a></p>
            </div>
          </div>
  
          <form     class="contact-form"  #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm.value)">
            <input type="text" name="name" ngModel placeholder="Your Name" required>
            <input type="email" name="email" ngModel placeholder="Your Email" required>
            <textarea name="message" ngModel placeholder="Your Message" required></textarea>
            <button type="submit" class="send-btn">Send</button>
          </form>    
        </div>
      </div>
    </div>
  </div>
  