<div class="ContainerForAll" [@scrollAnimation]>
    <div class="SectionforProjectsLanding"  >
      <div class="Section text-center" >
        <h1 class="title fade-in"> Free to Contact Me <i class="fa fa-envelope" id="envelope"></i></h1>

      </div>
        <p class="subtitle fade-in">
            I’m open to collaborations, opportunities, or just a chat.
        </p>
        <div class="buttons">
          <a href="https://www.linkedin.com/in/your-linkedin-username" target="_blank" id="Linkedin" class="github-btn fade-in">
            <i class="fa fa-linkedin"></i> Linkedin
          </a>
          <a href="https://github.com/Trophydecoder" target="_blank" class="github-btn fade-in">
            <i class="fa fa-github"></i> GitHub
          </a>
        </div>
       
      </div>
    </div>

  