/* You can add global styles to this file, and also import other style files */
:root{
    //all page color 
    --MainColor:#ffde00;
    --HoverMainCover:#fff700;


    //textcolor
    --TextMain:white;
    --TextP:rgba(255, 255, 255, 0.616);


    //icons
    --IconMain: rgba(255, 255, 255, 0.452);

    //fonts
    --MainFont:"TASA Orbiter", sans-serif;
}